<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판작성하기</title>
</head>
<body>
    <div>
        <form action="/02_servletdata//insertBoard.do">
            <p><label>제목<input type="text" name="title"></label></p>
            <p><label>작성자<input type="text" name="writer"></label></p>
            <p><label>내용<textarea name="content" id="" cols="50" rows="10"></textarea></label></p>
            <input type="submit" value="등록하기">
            <input type="reset" value="취소">
        </form>
    </div>
</body>
</html>